Repository CoorpAcademy/serverless-plugins, pull requests merged in 2020-01, with the labels that each got.

#107 feat(offline-sqs): Add SQS FIFO support
  docker-compose.test.yml
  docker-compose.yml
  packages/serverless-offline-sqs/README.md
  packages/serverless-offline-sqs/src/index.js
  tests/serverless-plugins-integration/package.json
  tests/serverless-plugins-integration/serverless.sqs.autocreate.yml
  tests/serverless-plugins-integration/test-sqs-autocreate.js
Labels: enhancement, pkg: serverless-offline-sqs

#110 Sqs offline autocreate hotfix
  packages/serverless-offline-sqs/src/index.js
  tests/serverless-plugins-integration/serverless.sqs.autocreate.yml
  tests/serverless-plugins-integration/test-sqs-autocreate.js
Labels: bug, pkg: serverless-offline-sqs

#112 Sqs offline autocreate hotfix fix
  packages/serverless-offline-sqs/src/index.js
  tests/serverless-plugins-integration/serverless.sqs.autocreate.yml
Labels: bug, enhancement
